<html>

<body>

   <form action="/create-federation" method="get">
      <button name="createFed" type="submit">Create Federation</button>
   </form>
   <form action="/print-federation" method="get">
      <button name="printFed" type="submit">Print Federation</button>
   </form>
   <form action="/print-device" method="get">
      <button name="printDev" type="submit">Print Device</button>
   </form>
   <form action="/tf-test" method="get">
      <button name="printDev" type="submit">Test Tf</button>
   </form>
   <form action="/train-federation" method="post">
      Number of rounds: <input type="number" name="n_rounds"><br>
      <button name="trainFed" type="submit" formmethod="POST">Train Federation</button>
   </form>
   {{message}}
</body>

</html>